* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-top: 200px;
}



button {
  margin-top: 50px;
  position: flex;
  color: deepskyblue;
  font-size: 200px;
  transition: 1s ease all;
  width: 300px;
  height: 300px;
  border-radius: 20px;
}

button:hover {
  background: rgba(3, 169, 244);
  color: #ffff;
  box-shadow: 15px 15px 100px rgba(3, 169, 244);
}
