<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>

  <body>
    <div class="group">

      <div class="btn btn-1 btn-sm  col-sm-3 my-3  mx-4 text-center">
        <a class="btn btn-sm" routerLink='/consultar-empleado'>
           <button><i class="fas fa-server"style='font-size:150px'></i></button>
            <span class="label"><h4>Consulta de empleados</h4></span>
        </a>
      </div>

      <div class="btn btn-1 btn-sm  col-sm-3 my-3  mx-4 text-center">
        <a class="btn btn-sm" routerLink="/ingresar-empleado">
          <button><i class="fas fa-user-edit"style='font-size:150px'></i></button>
          <span class="label label-default mx-auto text-algin"><h4>Ingresar empleado</h4></span>
        </a>
      </div>

      <div class="btn btn-1 btn-sm  col-sm-3 my-3  mx-4 text-center">
        <a class="btn btn-sm" routerLink="/ingresar-novedad">
          <button><i class="fas fa-poll"style='font-size:150px'></i></button>
          <span class="label label-default mx-auto text-algin"><h4>Liquidar nomina</h4></span>
        </a>
      </div>

    </div>
  </body>
</html>
